<footer>
    <div class="container">
        <small>
        Made with ❤️ by Michael Harley using <a href="https://www.11ty.dev/">Eleventy</a>.<br>
        The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
        The <a href="https://codeberg.org/obsolete29/obsolete29.11ty">code</a> on this site is MIT.
        </small>
    </div>
</footer>