<section>
    <h2>Latest Posts</h2>
    <ul class="post-list">
        {% for post in collections.posts | reverse %}
        {%- if loop.index0 < 5 -%}
            <li><time class="post-list-datetime" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time><a href={{ post.url }}>{{ post.data.title }}</a></li>
        {%- endif -%}
        {% endfor %}
    </ul>
    <p><a href="/posts/">All posts →</a></p>
</section>