
<section class="page-list-section">
    <h2>Pages</h2>
    <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/now/">Now</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="{{ meta.feedUrl }}">RSS</a></li>
        <li><a href="/uses/">Uses</a></li>
    </ul>
</section>