:root {
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --sans-font: var(--system-font);
    --serif-font: var(--system-font);
    --mono-font: var(--system-font);
    --base-fontsize: 1.15rem;
    --line-height: 1.6;
    --bg: #262626;
    --base-font-color: #D4D4D4;
    --base-font-highlight: #FFF;
    --accent-color: #00a78e;
    --dark-highlight: #707680;
    --dark-background: #191919;
}

html {
    font-family: var(--serif-font);
}

body {
  background: var(--bg);
  color: var(--base-font-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding: 0;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}

small {
  font-size: 90%;
}

main {
  flex: 1 0 auto;
}

footer {
  background: var(--dark-background);
  flex-shrink: 0;
}

img {
  margin-bottom: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 1em 0;
}

figcaption {
  font-family: var(--mono-font);
  font-size: 80%;
  line-height: 1.3;
}

a,
a:visited {
  color: var(--base-font-highlight);
  text-decoration-color: var(--accent-color);
  transition: all .1s ease-in-out;
}

a:focus, a:hover {
  color: var(--accent-color);
  text-decoration: none;
  text-decoration-color: var(--base-font-highlight);
}

h1, h2, h3, h4 {
  color: var(--base-font-highlight);
  font-family: var(--sans-font);
  line-height: 1.1;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.72rem;
}

h3 {
  font-size: 1.3rem;
}

h2, h3, h4 {
  margin-top: 2rem;
}

blockquote, q {
  padding: 0 0 0 15px;
  border-left: 1px solid var(--accent-color);
  margin: 1.1em 0 1.1em 0;
  font-style: italic;
}
  
.container {
    max-width: 76ch;
    margin: 0 auto;
    padding: .5em;
  }

.post-list {
    list-style: none;
    padding: 0;
}

.post-list li {
    margin: 1.5rem 0 1.5rem 0;
}

.post-list-datetime {
    display: block;
    font-family: var(--mono-font);
    font-size: 1rem;
}

.post-meta, .page-meta {
  font-family: var(--mono-font);
  font-size: 90%;
  line-height: 1.2;
}

.post-tag-link {
  padding-right: .5rem;
}

:not(pre) > code {
  font: var(--sans-font);
  background: black;
  padding: 0 5px;
  border: solid 1px var(--dark-highlight);
}

@media (any-pointer: coarse) {
  .page-list-section a {
    padding: .8em;
  }
}

@media (min-width: 670px) {
  body {
      font-size: 1.313rem;
  }

  h1 {
    font-size: 3.5rem
  }

  h2 {
    font-size: 2.63rem;
  }

  h3 {
    font-size: 1.97rem;
  }
}


.page-title::after {
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 0.15em;
  height: .15em;
  margin: 0 0 0 .15em;
  background: var(--accent-color);
  border-radius: .0625rem;
}