{% set css %}  
    {% include "normalize.css" %}
    {% include "styles.css" %}
    {% if '/posts' in page.url %}
      {% include "prism.css" %}
    {% endif %}
{% endset %}
<style>  
  {{ css | cssmin | safe }}
</style>