---
title: Posts
desc: Here are all my posts!
permalink: /posts/
---
<ul class="post-list">
    {% for post in collections.posts | reverse %}
    <li><time class="post-list-datetime" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>