---
eleventyComputed:
    title: 'Posts tagged with #{{ tag }}'
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /topics/{{ tag }}/
---
<ul class="post-list">
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
<li><time class="post-list-datetime" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>