---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all -%}
    {%- if not item.data.excludeFromSitemap and item.url -%}
    <url>
        <loc>{{ item.url | url | absoluteUrl(meta.url) }}</loc>
        <lastmod>{{ item.date.toISOString() }}</lastmod>
    </url>
    {%- endif -%}
{%- endfor -%}
</urlset>