---
layout: base.njk
---
<h1 class="page-title">Michael Harley's blog</h1>
<p>
    Hi, I'm Mike. Welcome to my minimalist space on the world wide web. There are many like it but this one is mine.
</p>

{% include "pages.njk" %}
{% include "latest-posts.njk" %}