<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "meta.njk" %}
    {% include "styles.njk" %}
</head>
<body>
    <main>
    <div class="container">{{ content | safe }}</div>
    </main>
    {% include "footer.njk" %}
</body>
</html>