---
layout: base.njk
---
<main>
  <div class="container">
    <article>
        <h1 class="page-title">{{ title }}</h1>
        <span class="post-meta"><time datetime="{{ date }}">{{ date | dateformat }}</time> on <a href="/">{{ meta.title }}</a>
        </span> 
        {{ content | safe }}
        <p><a href="mailto:{{ meta.author.email }}?subject=Re: {{ title | urlencode }}">Reply via email</a></p>
        <p>
          <svg class="article-tag-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
            <line x1="7" y1="7" x2="7" y2="7"></line>
          </svg>
          {% for tag in tags %}
            {% if tag != "posts" %}
            {% set tagUrl %}/topics/{{ tag }}/{% endset %}
              <a class="post-tag-link" href="{{ tagUrl | url }}">#{{ tag }}</a> 
            {% endif %}
          {% endfor %}
    </article>
  </div>
</main>
